@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

* {
  font-family: 'Oswald'; }

li {
  font-size: 20px; }

.start-title img {
  width: 100%;
  height: auto;
  position: absolute; }

.start-title h1 {
  font-size: calc(1em + 10vw);
  color: #CDD1C4;
  opacity: 0.6;
  padding-top: 16%;
  text-align: center;
  font-weight: bold; }

@media screen and (max-width: 576px) {
  .start-title {
    width: 100%;
    height: 180px;
    overflow: hidden;
    position: relative; }
    .start-title img {
      position: absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      object-fit: cover; }
    .start-title h1 {
      padding-top: 15%;
      margin-bottom: 0; } }

.navbar .container-fluid {
  background-color: #0b2027;
  padding: 8px; }
  .navbar .container-fluid .navbar-corner-logo {
    padding-left: 19px; }
  .navbar .container-fluid .navbar-toggler {
    background-color: #0b2027;
    border-color: #20FC8F;
    border-width: 2px;
    margin-right: 15px; }
    .navbar .container-fluid .navbar-toggler svg {
      color: #20FC8F; }

.navbar-nav li {
  text-decoration: none;
  padding-left: 20px;
  padding-top: 4px;
  font-size: 18px; }

.navbar-nav a {
  color: #20FC8F; }
  .navbar-nav a:hover {
    color: #20FC8F;
    -webkit-text-stroke: 1px #20FC8F; }

@media screen and (max-width: 576px) {
  .navbar-nav li {
    font-size: 16px; }
  .empty-li {
    display: none; } }

footer {
  background-color: #0b2027;
  background-size: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  footer .footer-logo {
    padding-bottom: 15px; }
    footer .footer-logo a img {
      width: 250px; }
  footer .footer-icons img {
    padding: 0 10px 0 10px;
    height: 25px;
    cursor: pointer; }

@media screen and (max-width: 576px) {
  footer {
    height: 150px; }
    footer .footer-logo {
      padding-bottom: 5px; }
      footer .footer-logo a img {
        width: 180px; }
    footer .footer-icons img {
      padding: 0 5px 0 5px;
      height: 20px; } }

#startSection .start-logo {
  width: 100%;
  height: 0%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #startSection .start-logo .start-logo-bk {
    opacity: 0.6;
    width: 100%; }
  #startSection .start-logo .logo {
    width: 25%;
    position: absolute;
    padding-top: 33%; }

#startSection .start-videoBg video {
  width: 100%;
  margin-bottom: -10px; }

#welcSection {
  background-color: #0b2027;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  color: #CDD1C4; }
  #welcSection .welcSection-container {
    width: 95%;
    border: 3px solid #CDD1C4;
    border-radius: 25px 70px;
    display: flex;
    flex-direction: row;
    padding: 25px 0 50px 0; }
    #welcSection .welcSection-container:hover {
      border-color: #20FC8F;
      color: #20FC8F; }
    #welcSection .welcSection-container .welcSection__1 img {
      height: 300px;
      opacity: 0.15;
      position: absolute; }
    #welcSection .welcSection-container .welcSection__2 {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #welcSection .welcSection-container .welcSection__2 .welcSection__title {
        padding-top: 30px;
        padding-bottom: 10px;
        font-size: 50px; }
      #welcSection .welcSection-container .welcSection__2 .welcSection__line {
        height: 4px;
        background-color: #CDD1C4; }
      #welcSection .welcSection-container .welcSection__2 .welcSection__description {
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
        width: 70%; }

.tripsSection .img-tripsSection {
  background-color: #0b2027;
  padding: 50px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  .tripsSection .img-tripsSection .img-tripsSection-column1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .tripsSection .img-tripsSection .img-tripsSection-column1 .img-surftrip-04 {
      width: 400px;
      margin: 0 6px 6px 0;
      border-radius: 25px;
      transition: all 300ms ease; }
      .tripsSection .img-tripsSection .img-tripsSection-column1 .img-surftrip-04:hover {
        transform: scale(1.03); }
    .tripsSection .img-tripsSection .img-tripsSection-column1 .img-surftrip-06 {
      width: 400px;
      margin: 6px 6px 0 0;
      border-radius: 25px;
      transition: all 300ms ease; }
      .tripsSection .img-tripsSection .img-tripsSection-column1 .img-surftrip-06:hover {
        transform: scale(1.03); }
  .tripsSection .img-tripsSection .img-tripsSection-column2 {
    display: flex;
    flex-direction: column; }
    .tripsSection .img-tripsSection .img-tripsSection-column2 .img-surftrip-03 {
      width: 400px;
      height: 401px;
      margin: 0 6px 6px 6px;
      border-radius: 25px 60px;
      transition: all 300ms ease; }
      .tripsSection .img-tripsSection .img-tripsSection-column2 .img-surftrip-03:hover {
        transform: scale(1.03); }
    .tripsSection .img-tripsSection .img-tripsSection-column2 .img-snowtrip-03 {
      width: 400px;
      height: 401px;
      margin: 6px 6px 0 6px;
      border-radius: 25px 60px;
      transition: all 300ms ease; }
      .tripsSection .img-tripsSection .img-tripsSection-column2 .img-snowtrip-03:hover {
        transform: scale(1.03); }
  .tripsSection .img-tripsSection .img-tripsSection-column3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px; }
    .tripsSection .img-tripsSection .img-tripsSection-column3 .img-snowtrip-06 {
      width: 400px;
      margin: 0 0 6px 0;
      border-radius: 25px;
      transition: all 300ms ease; }
      .tripsSection .img-tripsSection .img-tripsSection-column3 .img-snowtrip-06:hover {
        transform: scale(1.03); }
    .tripsSection .img-tripsSection .img-tripsSection-column3 .img-snowtrip-04 {
      width: 400px;
      margin: 6px 0 0 0;
      border-radius: 25px;
      transition: all 300ms ease; }
      .tripsSection .img-tripsSection .img-tripsSection-column3 .img-snowtrip-04:hover {
        transform: scale(1.03); }

.tripsSection .trips-button {
  background-color: transparent;
  width: 120px;
  height: 60px;
  position: absolute;
  color: #20FC8F;
  font-size: 35px;
  border: 3px solid #20FC8F;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  margin-top: -100px;
  margin-left: -60px; }
  .tripsSection .trips-button:hover {
    background-color: #0b2027;
    border: none;
    transition: all 0.2s; }

#whySection {
  background-color: #0b2027;
  background-size: cover;
  color: #CDD1C4;
  display: flex;
  justify-content: center;
  padding: 0 0 30px 0; }
  #whySection .whySection-container {
    width: 95%;
    border: 3px solid #CDD1C4;
    border-radius: 25px 80px; }
    #whySection .whySection-container .whySection__title {
      padding-top: 50px;
      font-size: 68px;
      text-align: center; }
    #whySection .whySection-container .whySection__desc {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding: 50px 0 50px 0; }
      #whySection .whySection-container .whySection__desc .why-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        transition: all 300ms ease; }
        #whySection .whySection-container .whySection__desc .why-container:hover {
          transform: scale(1.1); }
        #whySection .whySection-container .whySection__desc .why-container .svg-img {
          height: 150px; }
        #whySection .whySection-container .whySection__desc .why-container h4 {
          font-size: 25px;
          padding-top: 20px; }
        #whySection .whySection-container .whySection__desc .why-container p {
          font-size: 20px; }

#finalSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #0b2027; }
  #finalSection img {
    width: 48%;
    height: auto;
    padding: 5px;
    border-radius: 25px 60px; }

@media screen and (max-width: 576px) {
  #welcSection {
    padding: 8% 0 3% 0;
    color: #20FC8F; }
    #welcSection .welcSection-container {
      width: 90%;
      border: 2px solid #20FC8F;
      border-radius: 15px 50px;
      padding: 0 0 0 0; }
      #welcSection .welcSection-container .welcSection__1 img {
        display: none; }
      #welcSection .welcSection-container .welcSection__2 {
        padding: 0 0 0 0; }
        #welcSection .welcSection-container .welcSection__2 .welcSection__title {
          padding: 20px 0 5px 0;
          font-size: 23px; }
        #welcSection .welcSection-container .welcSection__2 .welcSection__line {
          width: 250px;
          height: 3px;
          margin: 0 0 0 0; }
        #welcSection .welcSection-container .welcSection__2 .welcSection__description {
          font-size: 16px;
          padding: 10px;
          width: 100%; }
  .tripsSection .img-tripsSection {
    padding: 10px 0 10px 0; }
    .tripsSection .img-tripsSection .img-tripsSection-column1 {
      margin: 2px 0 2px 0; }
      .tripsSection .img-tripsSection .img-tripsSection-column1 .img-surftrip-04 {
        width: 90%;
        margin: 0;
        border-radius: 20px 50px; }
      .tripsSection .img-tripsSection .img-tripsSection-column1 .img-surftrip-06 {
        display: none; }
    .tripsSection .img-tripsSection .img-tripsSection-column2 {
      display: none; }
    .tripsSection .img-tripsSection .img-tripsSection-column3 {
      margin: 2px 0 2px 2px; }
      .tripsSection .img-tripsSection .img-tripsSection-column3 .img-snowtrip-06 {
        display: none; }
      .tripsSection .img-tripsSection .img-tripsSection-column3 .img-snowtrip-04 {
        width: 90%;
        height: auto;
        margin: 10px 0 0 0;
        border-radius: 20px 50px; }
  .tripsSection .trips-button {
    width: 110px;
    height: 60px;
    font-size: 30px;
    border: 2px solid #20FC8F;
    border-radius: 10px;
    margin-top: -95px;
    margin-left: -55px;
    transition: all 0.2s; }
    .tripsSection .trips-button:active {
      background-color: #0b2027;
      color: #20FC8F;
      border: none;
      transition: all 0.2s; }
  #whySection {
    padding: 15px 0 15px 0; }
    #whySection .whySection-container {
      width: 85%;
      border: 2px solid #CDD1C4;
      border-radius: 30px; }
      #whySection .whySection-container .whySection__title {
        padding-top: 30px;
        font-size: 35px; }
      #whySection .whySection-container .whySection__desc {
        padding: 20px 20px 10px 20px; }
        #whySection .whySection-container .whySection__desc .why-container {
          padding-top: 10px;
          padding-bottom: 10px; }
          #whySection .whySection-container .whySection__desc .why-container .svg-img {
            height: 110px; }
          #whySection .whySection-container .whySection__desc .why-container h4 {
            font-size: 20px;
            padding-top: 18px; }
          #whySection .whySection-container .whySection__desc .why-container p {
            font-size: 16px; }
  #finalSection {
    flex-direction: column;
    align-items: center; }
    #finalSection img {
      width: 90%;
      padding: 5px;
      border-radius: 15px 50px; } }

@media screen and (min-width: 576px) and (max-width: 1279px) {
  #welcSection {
    padding: 40px 0 10px 0; }
    #welcSection .welcSection-container {
      padding: 30px 0 60px 0; }
      #welcSection .welcSection-container:hover {
        border-color: #20FC8F;
        color: #20FC8F; }
      #welcSection .welcSection-container .welcSection__2 .welcSection__title {
        font-size: 40px;
        padding-top: 40px; }
      #welcSection .welcSection-container .welcSection__2 .welcSection__line {
        width: 50%;
        margin: 0; }
      #welcSection .welcSection-container .welcSection__2 .welcSection__description {
        width: 80%;
        padding-bottom: 20px; }
  .tripsSection .img-tripsSection {
    padding: 25px 0 25px 0;
    flex-wrap: nowrap; }
    .tripsSection .img-tripsSection .img-tripsSection-column1 {
      margin: 0 -15px 0 0; }
      .tripsSection .img-tripsSection .img-tripsSection-column1 .img-surftrip-04 {
        width: 90%;
        margin: 0;
        border-radius: 30px 70px; }
      .tripsSection .img-tripsSection .img-tripsSection-column1 .img-surftrip-06 {
        display: none; }
    .tripsSection .img-tripsSection .img-tripsSection-column2 {
      display: none; }
    .tripsSection .img-tripsSection .img-tripsSection-column3 {
      margin: 0 0 0 -15px; }
      .tripsSection .img-tripsSection .img-tripsSection-column3 .img-snowtrip-06 {
        display: none; }
      .tripsSection .img-tripsSection .img-tripsSection-column3 .img-snowtrip-04 {
        width: 90%;
        height: auto;
        margin: 0;
        border-radius: 30px 70px; }
  .tripsSection .trips-button {
    width: 110px;
    height: 60px;
    font-size: 30px;
    border: 2px solid #20FC8F;
    border-radius: 10px;
    margin-top: -95px;
    margin-left: -55px;
    transition: all 0.2s; }
    .tripsSection .trips-button:active {
      background-color: #0b2027;
      color: #20FC8F;
      border: none;
      transition: all 0.2s; }
  #whySection {
    padding: 5px 0 15px 0; }
    #whySection .whySection-container {
      width: 95%;
      border: 3px solid #CDD1C4;
      border-radius: 40px; }
      #whySection .whySection-container .whySection__title {
        padding-top: 30px;
        font-size: 45px; }
      #whySection .whySection-container .whySection__desc {
        padding: 20px 0 10px 0;
        justify-content: space-around; }
        #whySection .whySection-container .whySection__desc .why-container {
          padding-top: 10px;
          padding-bottom: 10px; }
          #whySection .whySection-container .whySection__desc .why-container .svg-img {
            height: 100px; }
          #whySection .whySection-container .whySection__desc .why-container h4 {
            font-size: 20px;
            padding-top: 18px; }
          #whySection .whySection-container .whySection__desc .why-container p {
            font-size: 16px; }
  #finalSection img {
    padding: 3px; } }

#mainNextTrips {
  background-color: #0b2027;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0 30px 0; }

#content-itemCarousel {
  display: none;
  height: 700px;
  width: 385px;
  overflow: hidden; }
  #content-itemCarousel .itemCarousel {
    position: relative; }
    #content-itemCarousel .itemCarousel .arrowCarousel {
      height: 700px;
      width: 385px;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px; }

.arrow {
  width: 12px;
  opacity: 0.5; }

.mainNextTrips__card-1 {
  background-image: url(../img/nextTrips/img-nextTrips01.jpg);
  background-repeat: no-repeat;
  background-size: auto 650px;
  border-radius: 20px 60px;
  height: 600px;
  width: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0; }

.mainNextTrips__card-2 {
  background-image: url(../img/nextTrips/img-nextTrips02.jpg);
  background-repeat: no-repeat;
  background-size: auto 650px;
  border-radius: 20px 60px;
  height: 600px;
  width: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }

.mainNextTrips__card-3 {
  background-image: url(../img/nextTrips/img-nextTrips03.jpg);
  background-repeat: no-repeat;
  background-size: auto 650px;
  border-radius: 20px 60px;
  height: 600px;
  width: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold; }
  .mainNextTrips__card-3 .mainNextTrips__card-3-price {
    color: #CDD1C4;
    font-size: 25px;
    padding: 70px 0 15px 0; }

.mainNextTrips__card-location {
  color: #CDD1C4;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold; }
  .mainNextTrips__card-location .card-location-icon {
    padding-right: 5px;
    height: 30px; }
  .mainNextTrips__card-location .card-location-text {
    padding-left: 5px;
    font-weight: bold;
    margin-bottom: 0px; }

.mainNextTrips__card-date {
  color: #CDD1C4;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px; }
  .mainNextTrips__card-date .card-date-icon {
    padding-right: 5px;
    height: 30px; }
  .mainNextTrips__card-date .card-date-text {
    padding-left: 5px;
    font-weight: bold;
    margin-bottom: 0px; }

.mainNextTrips__card-price {
  color: #CDD1C4;
  font-size: 25px;
  font-weight: bold;
  padding: 50px 0 15px 0; }

.mainNextTrips__card-button {
  background-color: transparent;
  width: 150px;
  height: 60px;
  color: #20FC8F;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid #20FC8F;
  border-radius: 10px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 0.2s; }
  .mainNextTrips__card-button:hover {
    background-color: #0b2027;
    border: none;
    transition: all 0.2s; }

@media screen and (max-width: 576px) {
  #content-itemCarousel {
    display: flex;
    height: 600px;
    width: 330px;
    overflow: hidden; }
    #content-itemCarousel .itemCarousel {
      position: relative; }
      #content-itemCarousel .itemCarousel .arrowCarousel {
        height: 300px;
        width: 330px;
        position: absolute;
        top: 0;
        margin-top: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px; }
  .mainNextTrips__card-1 {
    background-size: auto 600px;
    height: 600px;
    width: 330px; }
  .mainNextTrips__card-2 {
    background-size: auto 600px;
    height: 600px;
    width: 330px; }
  .mainNextTrips__card-3 {
    background-size: auto 600px;
    height: 600px;
    width: 330px; }
    .mainNextTrips__card-3 .mainNextTrips__card-3-price {
      font-size: 19px;
      padding: 120px 0 10px 0; }
  .mainNextTrips__card-location .card-location-icon {
    padding-right: 2px;
    width: 25px; }
  .mainNextTrips__card-location .card-location-text {
    padding-left: 2px;
    font-size: 19px; }
  .mainNextTrips__card-date .card-date-icon {
    width: 17%; }
  .mainNextTrips__card-date .card-date-text {
    font-size: 18px; }
  .mainNextTrips__card-price {
    font-size: 19px;
    padding: 60px 0 10px 0; }
  .mainNextTrips__card-button {
    width: 120px;
    height: 50px;
    font-size: 23px;
    border-radius: 10px; }
    .mainNextTrips__card-button:hover {
      background-color: #0b2027;
      color: #20FC8F;
      transition: all 0.2s; } }

.booking-form {
  background-color: #CDD1C4;
  position: relative;
  margin-top: 2%; }
  .booking-form .auto, .booking-form .pax, .booking-form .pay {
    background-color: white;
    width: 440px;
    height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0b2027;
    font-size: 15px;
    border: 3px solid #0b2027;
    border-radius: 5px;
    margin: 0 5px 10px 0;
    padding: 0 5px 0 5px; }
  .booking-form .contact {
    background-color: none;
    width: 250px;
    height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0b2027;
    font-size: 15px;
    border: 3px solid #0b2027;
    border-radius: 5px;
    padding: 0 5px 0 5px; }
  .booking-form .booking-line {
    width: 700px;
    height: 3px;
    background-color: #0b2027;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; }
  .booking-form .pax {
    width: 70px;
    height: 35px;
    margin: 10px 5px 10px 5px; }
  .booking-form .pay {
    width: 620px;
    height: 35px;
    margin-bottom: 10px; }
  .booking-form .booking-text {
    text-align: center;
    color: #0b2027;
    font-size: 19px;
    margin-bottom: -5px; }

select option {
  font-family: 'Source Sans Pro', sans-serif; }

@media screen and (max-width: 576px) {
  .booking-form {
    padding: 0;
    margin-top: 5px; }
    .booking-form .auto, .booking-form .pax, .booking-form .pay {
      width: 90%;
      margin: 0 0 10px 0; }
    .booking-form .contact {
      width: 90%;
      margin-bottom: 10px; }
    .booking-form .booking-line {
      width: 90%; }
    .booking-form .pax {
      width: 15%;
      margin: 10px 1.5% 10px 0; }
    .booking-form .pay {
      width: 73%; }
    .booking-form .booking-text {
      font-size: 17px;
      margin: 0 5% -10px 5%; } }

@media screen and (min-width: 576px) and (max-width: 740px) {
  .booking-form {
    padding: 0;
    margin-top: -3px; }
    .booking-form .auto, .booking-form .pax, .booking-form .pay {
      width: 90%;
      margin: 0 0 10px 0; }
    .booking-form .contact {
      width: 90%;
      margin-bottom: 10px; }
    .booking-form .booking-line {
      width: 90%; }
    .booking-form .pax {
      width: 15%;
      margin: 10px 1.5% 10px 0; }
    .booking-form .pay {
      width: 73%; }
    .booking-form .booking-text {
      font-size: 17px;
      margin: 0 5% -10px 5%; } }

.main-accom {
  background-color: #0b2027; }

.accomSection1__1 {
  margin: 0 9% 0 9%; }
  .accomSection1__1 .accomSection1__1-location {
    color: #CDD1C4;
    display: flex;
    flex-direction: row;
    padding: 8% 0 10px 0; }
    .accomSection1__1 .accomSection1__1-location .location-icon {
      height: 27px;
      padding-right: 5px; }
    .accomSection1__1 .accomSection1__1-location .location-text {
      font-size: 25px; }
  .accomSection1__1 .accomSection1__1-title {
    width: 50%;
    height: auto; }
  .accomSection1__1 .accomSection1__1-house {
    display: flex;
    flex-direction: row; }
    .accomSection1__1 .accomSection1__1-house img {
      width: 50vw;
      height: 100%;
      border-radius: 20px 60px;
      opacity: 0.5;
      margin-top: 20px; }
    .accomSection1__1 .accomSection1__1-house .accomSection1__1-text {
      width: 120%;
      color: #CDD1C4;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-left: 20px; }
      .accomSection1__1 .accomSection1__1-house .accomSection1__1-text .text-1 {
        font-size: 25px;
        padding-top: 20px; }
      .accomSection1__1 .accomSection1__1-house .accomSection1__1-text .text-2 {
        font-size: 19px;
        margin-bottom: 0; }

.carousel {
  width: 82%;
  margin: 2% 9% 0 9%; }

.accomSection1__2-line1 {
  width: 100%;
  display: flex;
  justify-content: center; }

.accomSection1__2-line2 {
  width: 100%;
  display: flex;
  justify-content: center; }

.accomSection1__2-line3 {
  width: 100%;
  display: flex;
  justify-content: center; }

.item {
  padding: 6px; }
  .item .item-item {
    border-radius: 30px; }

.carousel-control-prev {
  margin-left: -5%; }

.carousel-control-next {
  margin-right: -5%; }

.accomSection-container {
  width: 80%;
  height: 80%;
  padding: 40px 0 30px 0;
  border: 3px solid #20FC8F;
  border-radius: 25px 100px;
  margin: 30px 0 20px 0; }
  .accomSection-container .accomSection2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #20FC8F; }
    .accomSection-container .accomSection2 .accomSection2__1-title {
      font-size: 25px;
      font-weight: bold; }
    .accomSection-container .accomSection2 .accomSection2__2-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      font-size: 20px;
      padding-top: 15px; }
      .accomSection-container .accomSection2 .accomSection2__2-icons .accomIcon {
        padding: 20px;
        text-align: center; }
        .accomSection-container .accomSection2 .accomSection2__2-icons .accomIcon .icon-icon {
          height: 50px;
          padding-bottom: 7px; }
    .accomSection-container .accomSection2 .accomSection2__3-text {
      font-size: 20px;
      text-align: center;
      padding: 0 40px 50px 40px; }
  .accomSection-container .accomSection3 {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #20FC8F;
    text-align: center; }
    .accomSection-container .accomSection3 ul {
      padding-left: 0px; }
      .accomSection-container .accomSection3 ul li {
        font-size: 20px;
        list-style-type: none; }
        .accomSection-container .accomSection3 ul li::before {
          content: ">>";
          margin-right: 5px; }

@media screen and (max-width: 576px) {
  .accomSection1__1 {
    margin: 0; }
    .accomSection1__1 .accomSection1__1-location {
      padding: 7% 0 5px 0; }
      .accomSection1__1 .accomSection1__1-location .location-icon {
        height: 20px; }
      .accomSection1__1 .accomSection1__1-location .location-text {
        font-size: 18px; }
    .accomSection1__1 .accomSection1__1-title {
      width: 80%;
      height: auto; }
    .accomSection1__1 .accomSection1__1-house {
      flex-wrap: wrap; }
      .accomSection1__1 .accomSection1__1-house img {
        width: 100%; }
      .accomSection1__1 .accomSection1__1-house .accomSection1__1-text {
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-left: 0; }
        .accomSection1__1 .accomSection1__1-house .accomSection1__1-text .text-1 {
          font-size: 20px;
          padding: 15px 0 0 0; }
        .accomSection1__1 .accomSection1__1-house .accomSection1__1-text .text-2 {
          font-size: 17px;
          padding: 0 0 20px 0; }
  .carousel {
    width: 100%;
    margin: 0; }
  .item {
    padding: 3px; }
    .item .item-item {
      border-radius: 10px; }
  .carousel-control-prev {
    margin-left: -10px; }
  .carousel-control-next {
    margin-right: -10px; }
  .accomSection-container {
    width: 90%;
    padding: 35px 0 25px 0;
    border: 2px solid #20FC8F;
    border-radius: 20px 70px;
    margin: 25px 0 25px 0; }
    .accomSection-container .accomSection2 .accomSection2__1-title {
      font-size: 20px;
      padding-bottom: 10px; }
    .accomSection-container .accomSection2 .accomSection2__2-icons {
      padding-top: 5px; }
      .accomSection-container .accomSection2 .accomSection2__2-icons .accomIcon {
        padding: 10px;
        text-align: center; }
        .accomSection-container .accomSection2 .accomSection2__2-icons .accomIcon .icon-icon {
          height: 45px;
          padding-bottom: 10px; }
        .accomSection-container .accomSection2 .accomSection2__2-icons .accomIcon .text-icon {
          font-size: 15px; }
    .accomSection-container .accomSection2 .accomSection2__3-text {
      font-size: 17px;
      padding: 15px; }
    .accomSection-container .accomSection3 {
      font-size: 20px;
      padding-top: 30px; }
      .accomSection-container .accomSection3 ul li {
        font-size: 17px; } }

@media screen and (min-width: 576px) and (max-width: 1279px) {
  .accomSection1__1 .accomSection1__1-location .location-icon {
    height: 22px; }
  .accomSection1__1 .accomSection1__1-location .location-text {
    font-size: 20px; }
  .accomSection1__1 .accomSection1__1-title {
    width: 65%; }
  .accomSection1__1 .accomSection1__1-house {
    flex-wrap: wrap; }
    .accomSection1__1 .accomSection1__1-house img {
      width: 100%; }
    .accomSection1__1 .accomSection1__1-house .accomSection1__1-text {
      text-align: center; }
      .accomSection1__1 .accomSection1__1-house .accomSection1__1-text .text-1 {
        font-size: 23px; }
      .accomSection1__1 .accomSection1__1-house .accomSection1__1-text .text-2 {
        font-size: 18px;
        padding-bottom: 10px; }
  .item {
    padding: 5px; }
    .item .item-item {
      border-radius: 15px; } }

.contact-text {
  margin: 0;
  padding: 80px 0 0 0;
  background-color: #CDD1C4;
  display: flex;
  justify-content: center; }
  .contact-text p {
    margin: 0;
    width: 700px;
    font-size: 19px;
    text-align: center;
    color: #0b2027; }

.form {
  padding: 45px 0 45px 0;
  text-align: center;
  background-color: #CDD1C4;
  font-family: 'Source Sans Pro', sans-serif; }
  .form .full-name, .form .email {
    background-color: none;
    width: 345px;
    height: 35px;
    color: #0b2027;
    font-size: 15px;
    border: 3px solid #0b2027;
    border-radius: 5px;
    margin: 0px 2.5px 10px 0px;
    padding: 0 5px 0 5px; }
  .form .email {
    margin: 0px 0px 10px 2.5px; }
  .form .comments {
    background-color: none;
    width: 700px;
    height: 250px;
    color: #0b2027;
    font-size: 15px;
    border: 3px solid #0b2027;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0 5px 0 5px; }
  .form .contact-button {
    width: 700px;
    height: 35px;
    border: 3px solid #0b2027;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #0b2027;
    background-color: #20FC8F;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s; }
    .form .contact-button:hover {
      background-color: #0b2027;
      color: #20FC8F;
      transition: all 0.2s; }

@media screen and (max-width: 576px) {
  .contact-text {
    padding: 40px 0 0 0; }
    .contact-text p {
      width: 90%;
      font-size: 17px; }
  .form {
    margin-top: -10px;
    padding: 50px 0 50px 0; }
    .form .full-name, .form .email {
      width: 90%;
      margin: 0px 0px 10px 0px; }
    .form .email {
      width: 90%;
      margin: 0px 0px 10px 0px; }
    .form .comments {
      width: 90%;
      height: 200px;
      margin-bottom: 10px; }
    .form .contact-button {
      width: 90%; }
      .form .contact-button:active {
        background-color: #0b2027;
        color: #20FC8F;
        transition: all 0.2s; } }

@media screen and (min-width: 576px) and (max-width: 740px) {
  .contact-text {
    padding: 50px 0 0 0; }
    .contact-text p {
      width: 90%; }
  .form {
    padding: 50px 0 50px 0; }
    .form .full-name, .form .email {
      width: 90%;
      margin: 0px 0px 10px 0px; }
    .form .email {
      width: 90%;
      margin: 0px 0px 10px 0px; }
    .form .comments {
      width: 90%;
      height: 200px;
      margin-bottom: 10px; }
    .form .contact-button {
      width: 90%; }
      .form .contact-button:active {
        background-color: #0b2027;
        color: #20FC8F;
        transition: all 0.2s; } }
