*{
    margin: 0px;
    padding: 0px;
}

/* INDEX */

/* HEADER */

.navbar .container-fluid{
    background-color: #0b2027;
    padding: 10px;
}

.navbar-nav li{
    text-decoration: none;
    padding-left: 20px;
    padding-top: 4px;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
}

.navbar-nav li a{
    color: #20FC8F;
}

.navbar-corner-logo{
    padding-left: 19px;
}

.navbar-toggler{
    background-color: #0b2027;
    border-color: #20FC8F;
    border-width: 2px;
    margin-right: 15px;
}

.burguer-menu{
    color: #20FC8F;
}

.header-logo{
    width: 100%;
    height: 0%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo-bg{
    height: 660px;
    opacity: 0.6;
    width: 100%;
}

.logo{
    width: 25%;
    position: absolute;
    padding-top: 33%;
}

.header-videoBg video{
    margin-bottom: -10px;
}


/* WELCOME SECTION */

#welcSection{
    background-color: #0b2027;
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
    padding-top: 60px;
}

.welcSection__1 img{
    opacity: 0.2;
    position: absolute;
}

.welcSection__2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcSection__title{
    font-family: 'Oswald', sans-serif;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #CDD1C4;
    font-size: 50px;
    text-align: center;
}

.welcSection__line{
    height: 4px;
    background-color: #CDD1C4;
}

.welcSection__description{
    font-family: 'Oswald', sans-serif;
    color: #CDD1C4;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
    width: 55%;
}

.index-line{
    display: flex;
    justify-content: center;
    background-color: #0b2027;
    color: #20FC8F;
}


/* TRIPS SECTION */

.img-tripsSection{
    background-color: #0b2027;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.img-tripsSection-column1{
    /* background-image: url(../img/tripsSection/img-surf-04.jpg);
    background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-tripsSection-column2{
    display: flex;
    flex-direction: column;
}

.img-tripsSection-column3{
    /* background-image: url(../img/tripsSection/img-snow-04.jpg); */
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5px;
    background-position: bottom;
}

.trips-button{
    background-color:transparent;
    width: 120px;
    height: 60px;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    color: #20FC8F;
    font-size: 35px;
    border: 3px solid #20FC8F;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: -100px;
    margin-left: -60px;
}

.trips-button:hover{
    background-color: #0b2027;
    border: none;
    transition: all 0.2s;
}

.img-surftrip-04{
    width: 400px;
    padding-right: 6px;
    padding-bottom: 6px;
    border-radius: 20px;
    transition: all 300ms ease;
}

.img-surftrip-04:hover{
    transform: scale(1.03);
}

.img-surftrip-06{
    width: 400px;
    padding-right: 6px;
    padding-top: 6px;
    border-radius: 20px;
    transition: all 300ms ease;
}

.img-surftrip-06:hover{
    transform: scale(1.03);
}

.img-surftrip-03{
    width: 400px;
    height: 401px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    border-radius: 20px;
    transition: all 300ms ease;
}

.img-surftrip-03:hover{
    transform: scale(1.03);
}

.img-snowtrip-03{
    width: 400px;
    height: 401px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    border-radius: 20px;
    transition: all 300ms ease;
}

.img-snowtrip-03:hover{
    transform: scale(1.03);
}

.img-snowtrip-06{
    width: 400px;
    padding-bottom: 6px;
    border-radius: 20px;
    transition: all 300ms ease;
}

.img-snowtrip-06:hover{
    transform: scale(1.03);
}

.img-snowtrip-04{
    width: 400px;
    height: 609px;
    padding-top: 6px;
    border-radius: 20px;
    transition: all 300ms ease;
}

.img-snowtrip-04:hover{
    transform: scale(1.03);
}



/* DESC SECTION */

#descSection{
    background-color: #0b2027;
    background-size: cover;
    padding-bottom: 15px;
    color: #CDD1C4;
}

.descSection__title{
    font-family: 'Oswald', sans-serif;
    padding-top: 40px;
    font-size: 70px;
    color:#CDD1C4;
    text-align: center;
}

.descSection__desc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.descSection__levels{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.levels-title{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    padding-top: 20px;
}

.levels-desc{

    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.descSection__eco{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.eco-title{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    padding-top: 20px;
}

.eco-desc{

    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.descSection__gourmet{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gourmet-title{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    padding-top: 20px;
}

.gourmet-desc{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}



/* FINAL SECTION */

#finalSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0b2027;
}

.finalSection__snow{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-radius: 20px;
}

.finalSection__surf{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 20px;
}


/* FOOTER */

footer{
    background-color: #0b2027;
    background-size: 100%;
    height: 200px;
}

.footer-logo{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 15px;
}

.footer-icons{
    text-align: center;
}

.f-icon{
    padding-left: 10px;
    padding-right: 10px;
}











/* PROXIMOS TRIPS */

#mainNextTrips{
    background-color: #0b2027;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}


/* Card 1 */

.mainNextTrips__card-1{
    background-image: url(../img/nextTrips/img-nextTrips01.jpg);
    background-repeat: no-repeat;
    background-size: auto 700px;
    border-radius: 20px;
    height: 700px;
    width: 388px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


/* Card 2 */

.mainNextTrips__card-2{
    background-image: url(../img/nextTrips/img-nextTrips02.jpg);
    background-repeat: no-repeat;
    background-size: auto 700px;
    border-radius: 20px;
    height: 700px;
    width: 388px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


/* Card 3 */

.mainNextTrips__card-3{
    background-image: url(../img/nextTrips/img-nextTrips03.jpg);
    background-repeat: no-repeat;
    background-size: auto 700px;
    border-radius: 20px;
    height: 700px;
    width: 388px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
}

.mainNextTrips__card-3-location{
    color: #CDD1C4;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.mainNextTrips__card-3-date{
    color: #CDD1C4;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
    font-weight: bold;
}

.mainNextTrips__card-3-price{
    color: #CDD1C4;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding-top: 150px;
    padding-bottom: 5px;
}


/* En común */

.mainNextTrips__card-location{
    color: #CDD1C4;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.card-location-icon{
    padding-right: 5px;
}

.card-location-text{
    padding-left: 5px;
    font-weight: bold;
    margin-bottom: 0px;
}

.mainNextTrips__card-date{
    color: #CDD1C4;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
}

.card-date-icon{
    padding-right: 5px;
}

.card-date-text{
    padding-left: 5px;
    font-weight: bold;
    margin-bottom: 0px;
}

.mainNextTrips__card-price{
    color: #CDD1C4;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 15px;
}

.mainNextTrips__card-button{
    background-color: transparent;
    width: 150px;
    height: 60px;
    font-family: 'Oswald', sans-serif;
    color: #20FC8F;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid #20FC8F;
    border-radius: 10px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all 0.2s;
}

.mainNextTrips__card-button:hover{
    background-color: #0b2027;
    border: none;
    transition: all 0.2s;
}









/* SURF / SNOW */

.header-surf{
    background-image: url(../img/surf/img-header-surf.jpg);
    height: 425px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.header-snow{
    background-image: url(../img/snow/img-header-snow.jpg);
    height: 425px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

/* header-title se encuentra en la página de contacto */

.main-accom{
    background-color: #0b2027;
}

/* Seccion 1 */

.accomSection1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accomSection1__1{
    color: #CDD1C4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.accomSection1__1-img{
    width: 67%;
    border-radius: 15px;
}

.accomSection1__1-location{
    color:#CDD1C4;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

.location-icon{
    padding-right: 5px;
}

.location-text{
    padding-top: 10px;
    padding-left: 5px;
    font-size: 35px;
}

.accomSection1__1-text-1{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
}

.accomSection1__1-text-2{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 67%;
}

.item1{
    border-radius: 15px;
}

.item2{
    border-radius: 15px;
}

.item3{
    border-radius: 15px;
} 

.carousel{
    width: 70%;
 
}

.accomSection1__2{
    padding: 1em;
}

.accomSection1__2-line1{
    width: 100%;
    display: flex;
    justify-content: center;
}

.accomSection1__2-line2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.accomSection1__2-line3{
    width: 100%;
    display: flex;
    justify-content: center;
}

.item{
    padding: 6px;
}



.accomSection-container{
    width: 66%;
    height: 80%;
    padding: 10px 0 40px 0;
    border: 3px solid #20FC8F;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Sección 2 */

.accomSection2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accomSection2__1-title{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-top: 50px;
    color:#20FC8F;
}

.accomSection2__2-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Oswald', sans-serif;
    color:#20FC8F;
    font-size: 20px;
    padding-top: 10px;
}

.accomIcon{
    padding-bottom: 30px;
    padding: 20px;
    text-align: center;
}

.icon-icon{
    padding-bottom: 7px;
}

.accomSection2__3-text{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:#20FC8F;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Sección 3 */

.accomSection3{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #CDD1C4;
    text-align: center;
}

.accomSection3 ul{
    padding-left: 0px;
}

.accomSection3 ul li{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

.accomSection3 ul li::before{
    content: ">>";
    margin-right: 5px;
}

.line{
    height: 3px;
    background-color: #20FC8F;
    margin-top: 50px;
}




/* CONTACTO */

.header-contact{
    background-image: url(../img/contact/img-contact.jpeg);
    height: 425px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
    /*PARALLAX
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;*/

.header-title h1{
    font-family: 'Oswald', sans-serif;
    font-size: 900%;
    color: #CDD1C4;
    opacity: 0.6;
    text-align: center;
    padding-top: 10%;
    font-weight: bold;
}

.form{
    padding-top: 50px;
    text-align: center;
    background-color: #CDD1C4;
    padding-bottom: 50px;
}

.full-name{
    background-color: none;
    width: 346px;
    height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0b2027;
    font-size: 15px;
    border: 3px solid #0b2027;
    border-radius: 5px;
    margin: 0px 2.5px 10px 0px;
}

.email{
    background-color: none;
    width: 345px;
    height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0b2027;
    font-size: 15px;
    border: 3px solid #0b2027;
    border-radius: 5px;
    margin: 0px 0px 10px 2.5px;
}

.comments{
    background-color: none;
    width: 700px;
    height: 250px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0b2027;
    font-size: 15px;
    border: 3px solid #0b2027;
    border-radius: 5px;
    margin-bottom: 15px;
}

.contact-button{
    width: 705px;
    height: 35px;
    border: 3px solid #0b2027;
    border-radius:5px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #0b2027;
    background-color: #20FC8F;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.contact-button:hover{
    background-color: #0b2027;
    color: #20FC8F;
    transition: all 0.2s;
}
/*#5c80bc 4d5061*/










/* RESERVA */

.header-booking{
    background-image: url(../img/booking/img-booking.jpg);
    background-size: cover;
    height: 300px;
    background-position: bottom;
}

/* header-title se encuentra en la página de contacto */

.header-bookingIsotype{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.header-titleBooking{
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
    color: #CDD1C4;
    opacity: 0.7;
    text-align: center;
    padding-top: 10px;
}

.auto{
    background-color: white;
    width: 446px;
    height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0b2027;
    font-size: 15px;
    border: 3px solid #0b2027;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.contact{
    background-color: none;
    width: 250px;
    height: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0b2027;
    font-size: 15px;
    border: 3px solid #0b2027;
    border-radius: 5px;
}

.booking-line{
    height: 3px;
    background-color: #0b2027;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pax{
    background-color: white;
    width: 70px;
    height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0b2027;
    font-size: 15px;
    border: 3px solid #0b2027;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

.pay{
    background-color: white;
    width: 625px;
    height: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0b2027;
    font-size: 15px;
    border: 3px solid #0b2027;
    border-radius: 5px;
    margin-bottom: 10px;
}

.booking-text{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #0b2027;
    font-size: 19px;
}






/* MEDIA QUERY - MOBILE */

@media screen and (max-width:576px){ 
    
    /* HEADER */

    .navbar-nav li{
        font-size: 16px;
    }

    .empty-li{
        display: none;
    }
    
    .header-title h1{
        font-size: 360%;
        padding-top: 17%;
    }

    /* FOOTER */

    footer{
        height: 150px;
    }

    .footer-logo{
        padding-top: 40px;
        padding-bottom: 5px;
    }

    .footer-logo img{
        width: 180px;
    }
   
    .f-icon{
        padding-left: 5px;
        padding-right: 5px;
        height: 20px;
    }


    /* INDEX */

    /* Welcome Section */

    #welcSection{
        padding-bottom: 5%;
        padding-top: 10%;
    }

    .welcSection__1 img{
        height: 200px;
        position: absolute;
        opacity: 0.1;
    }

    .welcSection__2{
        padding-left: 20px;
        padding-right: 20px;
    }

    .welcSection__title{
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 23px;
    }

    .welcSection__line{
        width: 250px;
        height: 3px;
        margin: 0;
    }

    .welcSection__description{
        font-size: 16px;
        padding-top: 10px;
        margin-bottom: 0px;
        text-align: center;
        width: 100%;
    }


    /* Trips Section */

    .img-tripsSection{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .img-tripsSection-column1{
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .img-tripsSection-column2{
        display: none;
    }

    .img-tripsSection-column3{
        margin-left: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .trips-button{
        background-color: transparent;
        width: 55px;
        height: 25px;
        font-size: 17px;
        border-radius: 5px;
        margin-top: -40px;
        margin-left: -25px;
        padding-bottom: 27px;
        border: 2px solid #20FC8F;
        color: #20FC8F;
    }

    .trips-button:active{
        background-color: #0b2027;
        color: #20FC8F;
        border: none;
        transition: all 0.2s;
    }

    .img-surftrip-04{
        padding-right: 2px;
        padding-bottom: 2px;
        border-radius: 8px;
        width: 165px;
    }

    .img-surftrip-04:active{
        transform: scale(1.03);
    }

    .img-surftrip-06{
        padding-right: 2px;
        padding-top: 2px;
        border-radius: 8px;
        width: 165px;
    }

    .img-surftrip-06:active{
        transform: scale(1.03);
    }

    .img-surftrip-03{
        width: 0px;
    }

    .img-snowtrip-03{
        width: 0px;
    }

    .img-snowtrip-06{
        padding-bottom: 2px;
        border-radius: 8px;
        width: 165px;
    }

    .img-snowtrip-06:active{
        transform: scale(1.03);
    }

    .img-snowtrip-04{
        height: 251.5px;
        padding-top: 2px;
        border-radius: 8px;
        width: 165px;
    }

    .img-snowtrip-04:active{
        transform: scale(1.03);
    }


    /* Desc Section */

    #descSection{
        padding-bottom: 0px;
    }

    .descSection__title{
        padding-top: 20px;
        font-size: 35px;
    }

    .descSection__desc{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .descSection__eco{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .eco-title{
        font-size: 20px;
        padding-top: 10px;
    }

    .eco-desc{
        font-size: 16px;
    }

    .descSection__levels{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .levels-title{
        font-size: 20px;
        padding-top: 18px;
    }

    .levels-desc{
        font-size: 16px;
    }

    .descSection__gourmet{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .gourmet-title{
        font-size: 20px;
        padding-top: 18px;
    }

    .gourmet-desc{
        font-size: 16px;
    }

    .desc-icon{
        height: 100px;
    }


    /* Final Section */

    .finalSection__snow{
        padding-top: 0px;
        padding-bottom: 5px;
        padding-right: 0px;
        border-radius: 12px;
        width: 350px;
    }

    .finalSection__surf{
        padding-top: 5px;
        padding-bottom: 0px;
        padding-left: 0px;
        border-radius: 12px;
        width: 350px;
    }




    /* PRÓXIMOS TRIPS */

    #mainNextTrips{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /* Card 1 */
    
    .mainNextTrips__card-1{
        background-size: auto 600px;
        height: 600px;
        width: 330px;
        border-radius: 15px;
    }
    
    
    /* Card 2 */
    
    .mainNextTrips__card-2{
        background-size: auto 600px;
        height: 600px;
        width: 330px;
        border-radius: 15px;
    }
    
    
    /* Card 3 */
    
    .mainNextTrips__card-3{
        background-size: auto 600px;
        height: 600px;
        width: 330px;
        border-radius: 15px;
    }
    
    .mainNextTrips__card-3-location{
        font-size: 22px;
    }
    
    .mainNextTrips__card-3-date{
        font-size: 22px;
    }
    
    .mainNextTrips__card-3-price{
        font-size: 22px;
        padding-top: 100px;
        padding-bottom: 15px;
    }
    
    
    /* En común */
    
    .mainNextTrips__card-location{
        font-size: 22px;
    }
    
    .mainNextTrips__card-date{
        font-size: 22px;
    }
    
    .mainNextTrips__card-price{
        font-size: 22px;
        padding-top: 45px;
        padding-bottom: 10px;
    }
    
    .mainNextTrips__card-button{
        width: 130px;
        height: 50px;
        font-size: 25px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .mainNextTrips__card-button:active{
        background-color: #0b2027;
        color: #20FC8F;
        transition: all 0.2s;
    }




    /* SURF / SNOW */

    .header-surf{
        background-image: url(../img/surf/img-header-surf-mobile.jpg);
        height: 215px;
        background-size: 100%;
        background-position: center bottom;
    }

    .header-snow{
        background-image: url(../img/snow/img-header-snow-mobile.jpg);
        height: 215px;
        background-size: 100%;
        background-position: center bottom;
    }
    
    /* Sección 1 */
    .accomSection1__1{
        padding-top: 20px;
    }

    .accomSection1__1-img{
        width: 95%;
        padding: 0px 10px;
    }

    .accomSection1__1-location{
        padding-top: 10px;
    }
    
    .location-icon{
        width: 20px;
    }
    
    .location-text{
        font-size: 19px;
        padding-top: 5px;
    }

    .accomSection1__1-text-1{
        font-size: 17px;
    }

    .accomSection1__1-text-2{
        font-size: 16px;
        padding: 0px 10px;
        width: 90%;
    }

    .carousel{
        width: 100%;
    }

    .item{
        padding: 3px;
    }

    .item1{
        border-radius: 8px;
    }
    
    .item2{
        border-radius: 8px;
    }
    
    .item3{
        border-radius: 8px;
    } 

    .line{
        height: 4px;
        margin-top: 20px;
        width: 90%;
    }


    .accomSection-container{
        width: 84%;
        height: 80%;
        padding: 20px 0 20px 0;
        border: 3px solid #20FC8F;
        border-radius: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* Sección 2 */
    
    .accomSection2__1-title{
        font-size: 18px;
        padding-top: 10px;
    }
    
    .accomSection2__2-icons{
        padding-top: 15px;
        width: 90%;
    }
    
    .accomIcon{
        padding: 10px;
    }  
    
    .icon-icon{
        padding-bottom: 5px;
        height: 38px;
    }
    
    .text-icon{
        font-size: 15px;
    }

    .accomSection2__3-text{
        font-size: 16px;
        padding: 20px 20px 20px 20px;
        width: 100%;
    }

    /* Sección 3 */

    .accomSection3{
        font-size: 18px;
        padding-bottom: 0px;
    }

    .accomSection3 ul{
        padding-left: 0px;
    }

    .accomSection3 ul li{
    font-size: 16px;
    }




    /* CONTACTO */

    .header-contact{
        background-image: url(../img/contact/img-header-contact-mobile.jpg);
        height: 215px;
        background-size: 100%;
        background-position: center bottom;
    }

    .form{
        padding-top: 55px;
        padding-bottom: 55px;
    }

    .full-name{
        width: 95%;
        margin: 0px 0px 10px 0px;
        height: 31px;
    }

    .email{
        width: 95%;
        margin: 0px 0px 10px 0px;
        height: 31px;
    }

    .comments{
        width: 95%;
        height: 200px;
        margin-bottom: 7px;
    }

    .contact-button{
        width: 95%;
    }

    .contact-button:active{
        background-color: #0b2027;
        color: #20FC8F;
        transition: all 0.2s;
    }


    

    /* RESERVA */

    .header-booking{
        height: 180px;
        background-position: top;
        background-repeat: no-repeat;
    }

    .header-bookingIsotype{
        padding-top: 5px;
    }

    .header-bookingIsotype img{
        height: 30px;
    }

    .header-titleBooking{
        font-size: 40px;
        padding-top: 5%;
    }

    .auto{
        width: 96%;
        margin: 0px 0px 10px 0px;
    }

    .contact{
        width: 95%;
    }

    .booking-line{
        height: 2px;
        width: 95%;
    }

    .pax{
        width: 17%;
        margin: 0px 0px 10px 0px;
    }

    .pay{
        width: 78%;
        margin-bottom: 10px;
    }

    .booking-text{
        font-size: 16px;
        margin: 0px 2% 0px 2%;
    }
}