// Start Section
#startSection{
    .start-logo{
        width: 100%;
        height: 0%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        .start-logo-bk{
            // height: 660px;
            opacity: 0.6;
            width: 100%;
        }
        .logo{
            width: 25%;
            position: absolute;
            padding-top: 33%;
        }
    }
    .start-videoBg video{
        width: 100%;
        margin-bottom: -10px;
    }
}
// Welcome Section
#welcSection{
    background-color: $bk-color;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    color: $tertiary-color;
    .welcSection-container{
        width: 95%;
        border: 3px solid $tertiary-color;
        border-radius: 25px 70px;
        display: flex;
        flex-direction: row;
        padding: 25px 0 50px 0;
        &:hover{
            border-color: $secondary-color;
            color: $secondary-color;
        }
        .welcSection__1 img{
            height: 300px;
            opacity: 0.15;
            position: absolute;
        }
        .welcSection__2{
            display: flex;
            flex-direction: column;
            align-items: center;
            .welcSection__title{
                padding-top: 30px;
                padding-bottom: 10px;
                font-size: 50px;
            }
            .welcSection__line{
                height: 4px;
                background-color: $tertiary-color;
            }
            .welcSection__description{
                font-size: 20px;
                padding-top: 20px;
                text-align: center;
                width: 70%;
            }
        }   
    }
}

// .index-line{
//     display: flex;
//     justify-content: center;
//     background-color: $primary-color;
//     hr{
//         width: 80%;
//         height: 5px;
//         color: $secondary-color;
//     }
// }
// Trips Section
.tripsSection{
    .img-tripsSection{
        background-color: $bk-color;
        padding: 50px 0 50px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .img-tripsSection-column1{
            display: flex;
            flex-direction: column;
            align-items: center;
            .img-surftrip-04{
                width: 400px;
                margin: 0 6px 6px 0;
                border-radius: 25px;
                transition: all 300ms ease;
                &:hover{
                    transform: scale(1.03);
                }
            }
            .img-surftrip-06{
                width: 400px;
                margin: 6px 6px 0 0;
                border-radius: 25px;
                transition: all 300ms ease;
                &:hover{
                    transform: scale(1.03);
                }
            }
        }
        .img-tripsSection-column2{
            display: flex;
            flex-direction: column;
            .img-surftrip-03{
                width: 400px;
                height: 401px;
                margin: 0 6px 6px 6px;
                border-radius: 25px 60px;
                transition: all 300ms ease;
                &:hover{
                    transform: scale(1.03);
                }
            }
            .img-snowtrip-03{
                width: 400px;
                height: 401px;
                margin: 6px 6px 0 6px;
                border-radius: 25px 60px;
                transition: all 300ms ease;
                &:hover{
                    transform: scale(1.03);
                }
            } 
        }
        .img-tripsSection-column3{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 5px;
            .img-snowtrip-06{
                width: 400px;
                margin: 0 0 6px 0;
                border-radius: 25px;
                transition: all 300ms ease;
                &:hover{
                    transform: scale(1.03);
                }
            } 
            .img-snowtrip-04{
                width: 400px;
                margin: 6px 0 0 0;
                border-radius: 25px;
                transition: all 300ms ease;
                &:hover{
                    transform: scale(1.03);
                }
            } 
        }
    }
    
    .trips-button{
        background-color:transparent;
        width: 120px;
        height: 60px;
        position: absolute;
        color: $secondary-color;
        font-size: 35px;
        border: 3px solid $secondary-color;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        transition: all 0.2s;
        margin-top: -100px;
        margin-left: -60px;
        &:hover{
            background-color: $primary-color;
            border: none;
            transition: all 0.2s;
        }
    }  
}
// Why Section
#whySection{
    background-color: $bk-color;
    background-size: cover;
    color: $tertiary-color;
    display: flex;
    justify-content: center;
    padding: 0 0 30px 0;
    .whySection-container{
        width: 95%;
        border: 3px solid $tertiary-color;
        border-radius: 25px 80px;
        .whySection__title{
            padding-top: 50px;
            font-size: 68px;
            text-align: center;
        }
        .whySection__desc{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding: 50px 0 50px 0;
            .why-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
                transition: all 300ms ease;
                &:hover{
                    transform: scale(1.1);
                }
                .svg-img{
                    height: 150px;
                //     &::before {
                //         opacity: 1;
                //     }
                //     filter: brightness(0) saturate(100%) invert(39%) sepia(3%) saturate(0%) hue-rotate(255deg) brightness(94%) contrast(89%);
                // }
                }
                h4{
                    font-size: 25px;
                    padding-top: 20px;
                }
                p{
                    font-size: 20px;
                }
            }
        }    
    }
}
// Final Section
#finalSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: $primary-color;
    img{
        width: 48%;
        padding: 5px;
        border-radius: 25px 60px;
    }
}


@media screen and (max-width:576px){
    #welcSection{
        padding: 8% 0 3% 0;
        color: $secondary-color;
        .welcSection-container{
            width: 90%;
            border: 2px solid $secondary-color;
            border-radius: 15px 50px;
            padding: 0 0 0 0;
            .welcSection__1 img{
                display: none;
                // padding: 20px 0 0 0;
                // height: 200px;
                // opacity: 0.1;
            }
            .welcSection__2{
                padding: 0 0 0 0;
                .welcSection__title{
                    padding: 20px 0 5px 0;
                    font-size: 23px;
                }
                .welcSection__line{
                    width: 250px;
                    height: 3px;
                    margin: 0 0 0 0;
                }
                .welcSection__description{
                    font-size: 16px;
                    padding: 10px;
                    width: 100%;
                }
            }
        }         
    }

    .tripsSection{
        .img-tripsSection{
            padding: 10px 0 10px 0;
            .img-tripsSection-column1{
                margin: 2px 0 2px 0;
                .img-surftrip-04{
                    width: 90%;
                    margin: 0;
                    border-radius: 20px 50px;
                }
                .img-surftrip-06{
                    display: none;
                }
            }
            .img-tripsSection-column2{
                display: none;
            }
            .img-tripsSection-column3{
                margin: 2px 0 2px 2px;
                .img-snowtrip-06{
                    display: none;
                } 
                .img-snowtrip-04{
                    width: 90%;
                    height: auto;
                    margin: 10px 0 0 0;
                    border-radius: 20px 50px;
                } 
            }
        }
        
        .trips-button{
            width: 110px;
            height: 60px;
            font-size: 30px;
            border: 2px solid $secondary-color;
            border-radius: 10px;
            margin-top: -95px;
            margin-left: -55px;
            transition: all 0.2s;
            &:active{
                background-color: $primary-color;
                color: $secondary-color;
                border: none;
                transition: all 0.2s;
            }
        }  
    }

    #whySection{
        padding: 15px 0 15px 0;
        .whySection-container{
            width: 85%;
            border: 2px solid $tertiary-color;
            border-radius: 30px;
            .whySection__title{
                padding-top: 30px;
                font-size: 35px;
            }
            .whySection__desc{
                padding: 20px 0 10px 0;
                .why-container{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    .svg-img{
                        height: 110px;
                    //     &::before {
                    //         opacity: 1;
                    //     }
                    //     filter: brightness(0) saturate(100%) invert(39%) sepia(3%) saturate(0%) hue-rotate(255deg) brightness(94%) contrast(89%);
                    // }
                    }
                    h4{
                        font-size: 20px;
                        padding-top: 18px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }    
        }
    }
    
    #finalSection{
        flex-direction: column;
        align-items: center;
        img{
            width: 90%;
            padding: 2px;
            border-radius: 15px 50px;
        }
    }
}    